{#
$DefaultNetstreamDriver gtls
$DefaultNetstreamDriverCAFile /etc/ssl/certs/ca-certificates.crt
$DefaultNetstreamDriverCertFile {{ syslog_cert_file }}
$DefaultNetstreamDriverKeyFile {{ syslog_key_file }}
$ActionSendStreamDriverAuthMode x509/name
#}

$ActionSendStreamDriverPermittedPeer {{ syslog_server }}
$ActionSendStreamDriverMode 1
*.* @@{{ syslog_server }}
